html {
    font-size: 14px;
    background: #EEE;
    color: #444;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    width: 80%;
    align-self: auto;
    margin-left: 10%;
    background: #EEE;
}
p1, li {
  font-size: 14px;
  padding-block: 2px;
}
h2 {
  font-size: x-large;
  background-color: #CCC;
}
h3 {
    font-size: large;
    text-decoration-line:blink;
    text-decoration: underline;
}
h4 {
    font-style:italic;
}

code {
    border: 2px solid #BBB;
    border-collapse: collapse;
    font-family:'MS Gothic';
    background: #DDD;
    margin: 2px;
    white-space: pre-line;
    display:block;
    width: 100%;
}

table, th, td {
    font-size: 12px;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #DDD;
    width: 95%;
    table-layout: fixed;
    text-align: left;
}