Driver engine

- = Features = -
Play individual notes

Refer to instrument values for:
	- Volume [includes panning]
	- Effect state [pitch mod, echo, noise]
	- Gain
	- ADSR envelope information
	- Sample index for SCRN registers

Process effects including:
	- Arpeggios
	- Portamento
	- Vibrato
	- Tremolando
	- Volume slides
	- Panning state
	- Retriggering notes
	- Changing echo state
	- Global panning and volume
	- Arp Speed control
	- Tracker Speed control
	- Flag communication between the main CPU and SPC-700
	- Halting tune

Have patterns to repeat written sequences of notes
Store samples as brr files
Allow for multiple tracks in a single SPC file

Allow for SFX to be played in any channel at any point in time
At most 3 SFX can be played at once

- = Design = -

The engine process will be split up into 3 main sections

Table Construction
Handling Row Commands
Effects Processing

- Table Construction -

Tables will be constructed into the following tables:
	Instrument Table:
		uint8_t SampleIndex;	//Index of the sample, to be used by SCRN registers while they look in the DIR page
		uint8_t ADSR1;			//EDDD AAAA ADSR enable (E), decay rate (D), attack rate (A).
		uint8_t ADSR2;			//SSSR RRRR Sustain level (S), sustain rate (R).
		uint8_t Gain;			//0VVV VVVV Value(V).
		uint8_t EffectState;	//Holds the state of the effects in the instrument to reference in DSP memory [BIT0:PMon | BIT1:Noise | BIT2:Echo]
		int8_t Vol_L;			//Left channel volume
		int8_t Vol_R;			//Right channel volume
		uint8_t Priority;		//Priority system for SFX/Instrument priority
	
	Pitch Table:
		Pitch table will be preprocessed values that hold absolute pitch values, as such it will be stored as a uint16_t

- Row Commands -

Each row contains the following values:
	Note
	Instrument
	Volume
	Effect
	Effect Value

	These will be affected by command bytes that are used for every row, listed below are the set:
		[xx, name, args : args, information]
		
		//Global
		00, Speed, S, Changes Tick threshold to S

		//Controls
		01, Sleep, S, amount of rows to wait per row, done per channel
		02, Goto, O, Goto order O within the track
		03, Break, Resets the sequence pointers and increments the orders index
		
		//Note
		04, Play Note, Pitch : Pitch is an index into a pitch table
		05, Play Note, Pitch : Pitch is an absolute pitch

		//Instrument
		06, Set Instrument, Index
		
		//Special
		07, Set Flag Value, Value, Sets the flg register
		08, Echo Delay, D, Sets the delay amount for the echo [note: due to the nature of echo this can be EXTREMELY VOLATILE, so checks will absolutely have to be in place]
		09, Echo Volume, L : R, Sets the L+R volume for the echo
		0A, Echo Feedback, F, Sets the feedback of the echo
		0B-12, Echo Coeffecients, C, Sets the filter coeffecients [note: Values < -128 or > 127 can cause issues]

		//Volume
		13, Set Master Volume, LPAN : RPAN
		14, Set Volume, LPAN : RPAN, Sets the master volume of given channel [Also used in Panning effect. Used in conjunction with L/R inversion]

		//Effects
		15, Set Arp Value, A, puts XY into A			[Note 1 : Note 2]
		16, Set Port Value, P, puts XX into P			[Port Val : Dir	]
		17, Set Vib Value, V, puts XY into V 			[Speed : Depth	]
		18, Set Trem Value, T, puts XY into T 			[Speed : Depth	]
		19, Set Vol Slide Value, S, puts XY into S 		[Up : Down		]
		1A, Set Panbr Value, B, puts XY into B			[Speed : Depth	]

		1B, Release, Sets KOFF on
		1C, Stop, Stops the track from playing

- Effects Processing -

Effects will be categorised into 3 types
	Type 1: DSP Writes; these will be effects that directly change register values in the DSP. This could potentially be a volatile system due to how the SNES handles things like delay buffers or coeffecients, so take care.
	Type 2: Flag Effects; these will continue to affect the state of the channel as long as the effect is on. This includes Arps, Vibrato, Tremolando, Volume slides, Panbrello and Portamento.
	Type 3: Communication Effects; these will act as values that the track can write to that will be sent to the main CPU.

Effects list goes as:
	00xy Arpeggio 						[x: offset 1, y: offset 2] Semitone offset from base note
	01xx Portamento up 					[xx: speed up] Slides the pitch upwards
	02xx Portamento down 				[xx: speed down] Slides the pitch downwards
	03xx Portamento to 					[xx: speed toward] Slides the pitch to the desired note
	04xy Vibrato 						[x: speed, y: depth] Oscillates the pitch of the note
	05xy Tremolando 					[x: speed, y: depth] Oscillates the volume of the note

	08xy Panning 						[x: left, y: right] Sets the panning of the channel
	09xx Speed 							[xx: speed] Sets the speed of the track
	0Axy Volume Slide 					[x: up, y: down] Changes the instrument volume
	0Bxx Goto 							[xx: set order position] Sets position within orders
	0Cxx Retrigger 						[xx: frames between triggers] Plays the note the amount of frames specified
	0Dxx Break. Goes to next order
	0Exy Panbrello 						[x: speed, y: depth] Oscillates the panning of the note

	30xx Echo Delay 					[xx: echo value] sets the delay value of the echo [Note! Every echo value consumes 2048 bytes of Audio Ram, this may cause issues within the ROM export and may not be able to fit within the SPC Export!]
	31xx Echo Feedback 					[xx: feedback] Sets the Feedback of the echo. A value of 80 is equivelant to a feedback of 0
	32xx Echo L Volume 					[xx: left value] Sets the volume of the Echo Left channel. A value of 80 is equivelant to a feedback of 0
	33xx Echo R Volume 					[xx: right value] Sets the volume of the Echo Right channel. A value of 80 is equivelant to a feedback of 0
	34xx Echo Filter Value 1 			[xx: value] Sets the value for the Echo Filter [Note! the whole filter buffer can only be from -128 to 127 TOTAL]
	35xx Echo Filter Value 2 			[xx: value] Sets the value for the Echo Filter [Note! the whole filter buffer can only be from -128 to 127 TOTAL]
	36xx Echo Filter Value 3 			[xx: value] Sets the value for the Echo Filter [Note! the whole filter buffer can only be from -128 to 127 TOTAL]
	37xx Echo Filter Value 4 			[xx: value] Sets the value for the Echo Filter [Note! the whole filter buffer can only be from -128 to 127 TOTAL]
	38xx Echo Filter Value 5 			[xx: value] Sets the value for the Echo Filter [Note! the whole filter buffer can only be from -128 to 127 TOTAL]
	39xx Echo Filter Value 6 			[xx: value] Sets the value for the Echo Filter [Note! the whole filter buffer can only be from -128 to 127 TOTAL]
	3Axx Echo Filter Value 7 			[xx: value] Sets the value for the Echo Filter [Note! the whole filter buffer can only be from -128 to 127 TOTAL]
	3Bxx Echo Filter Value 8 			[xx: value] Sets the value for the Echo Filter [Note! the whole filter buffer can only be from -128 to 127 TOTAL]

	C0xx Flag Effects 					[00-FF] Used for interfacing with between the 65816 and SPC-700

	E1xy Portamento ctrl up 			[x: semitone, y: speed] Slides the note pitch up by X semitones at Y speed
	E2xy Portamento ctrl down 			[x: semitone, y: speed] Slides the note pitch down by X semitones at Y speed
	E8xx Set Global Left Panning Volume [xx: l value] Sets the Global Left panning of the tune
	E9xx Set Global Right Panning Volume[xx: r value] Sets the Global Right panning of the tune
	EAxx Set Global Volume 				[xx: volume] Sets the Global Volume of the track

	FFxx End Tune 						[xx: end tune] Will end the tune no matter the value
	
- Sound Effects - 
	Sound effects will use a flag system to make sure both CPUs work in sync
	A sound effect is defined as an order that contains several patterns
	To play a sound effect you send a byte that acts as an index into a SFX table
	SFX work in 8 "Virtual" channels which replace the desired channel with the state of the sound effect

- Audio Controller -
	The program comes with a few independent adjustment capabities to allow the programmer to adjust the music in game when needed
	These take in 2 bytes from PORT 2 [command ID] and PORT 3 [command Value]
	The commands include:
		- Change Settings Byte 	[0]	//Sets value for settings byte [See Miscellaneous]
		- Master volume change 	[1]	//Changes the Master Volume L+R on the APU
		- Set Channel Mask		[2]	//Sets bitfield for multi-channel controls
		- Set Channel Volumes	[3]	//Sets channels to PORT3 value

- Miscellaneous -
	Settings byte:
		The settings byte is specifically made for compatilbility on the end users part.
		This can include:
			01 - Force Mono 		[off for stereo, on for mono]
			02 - Disable Echo		[0 for echo on, 1 for echo off]
			04 - TBD...
			08 - TBD...
			10 - TBD...
			20 - TBD...
			40 - TBD...
			80 - TBD...